@font-face {
	font-family:'PTSans-Regular';
	src: url('fonts/PTSans-Regular_gdi.eot');
	src: url('fonts/PTSans-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/PTSans-Regular_gdi.woff') format('woff'),
		url('fonts/PTSans-Regular_gdi.ttf') format('truetype'),
		url('fonts/PTSans-Regular_gdi.otf') format('opentype'),
		url('fonts/PTSans-Regular_gdi.svg#PTSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F6D4;
}

@font-face {
	font-family:'PTSans-Bold';
	src: url('fonts/PTSans-Bold_gdi.eot');
	src: url('fonts/PTSans-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/PTSans-Bold_gdi.woff') format('woff'),
		url('fonts/PTSans-Bold_gdi.ttf') format('truetype'),
		url('fonts/PTSans-Bold_gdi.otf') format('opentype'),
		url('fonts/PTSans-Bold_gdi.svg#PTSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F6D4;
}