.cf_flt_wrapper label {
	display: inline; 
}
a.filter_link, label > input[type="checkbox"].productfilter_selector {
	margin-top: 0px; 
	line-height: 20px; 
}
div.cf_wrapper_inner label {
	margin-right: 10px; 
}