div#vmMainPageOPC div.formField input[type="password"], div#vmMainPageOPC div.formField input[type="search"], div#vmMainPageOPC div.formField input[type="text"], div#vmMainPageOPC div.formField input[type="email"] {
    line-height: 26px;
}
/*для модуля регистрации  ----------------------------------------------------------------------------------*/
.gi-elem.ial-name.skrit {

 display: none;
  

}
.gi-elem.checkbox a{
	color: #1685d7;	
	}
/*для Unite Nivo Slider ----------------------------------------------------------------------------------*/

div.nivo-slider-wrapper {
	
}
.nivoSlider img {
}

#nivo_slider_1_1 {
background-color: transparent; }

/*для рассылки сообщений----------------------------------------------------------------------------------*/
    table.acymailing_form {
    margin: 0px !important;
    border: 0px !important;
}
.acysubbuttons {
    text-align: left;
}
input.button.subbutton.btn.btn-primary {
   
}


input[name='user[email]']{
   
}
input[name='user[name]']{
   
}
/* для rs form pro----------------------------------------------------------------------------------*/
#rsform_17_page_0 .formField.rsform-block.rsform-block-name, #rsform_12_page_0 .formField.rsform-block.rsform-block-name, #rsform_16_page_0 .formField.rsform-block.rsform-block-name, #rsform_20_page_0 .formField.rsform-block.rsform-block-name, #rsform_18_page_0 .formField.rsform-block.rsform-block-name, #rsform_22_page_0 .formField.rsform-block.rsform-block-name {
	display: none;
}

.formError {
	font-family: PTSans-Regular;
	font-size: 12px;
	color: #F00;
	display: none !important;
	width: 100%;
}
.formRed {
	font-family: PTSans-Regular;
	font-size: 12px;
	color: #F00;
	display: none;
}
.success-title, .success-text {
	display: none;
}
.rsform-input-box.rsform-error {
	border: 1px solid #FF0004  !important;
}
.rsform-input-box {
	padding-left: 10px;
	height: 25px;
	width: 200px;
	border: 1px solid #666666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: PTSans-Regular;
	font-size: 14px;
	color: #333;
		margin-bottom: 8px;
}
.rsform-text-box {
	height: 100px;
	width: 200px;
	border: 1px solid #666666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	overflow: auto;
	resize:none;
	padding-top: 5px;
	padding-left: 10px;
	font-family: PTSans-Regular;
	font-size: 14px;
	color: #333;
		margin-bottom: 8px;
}
.rsform-submit-button {
	height: 30px;
	width: 100px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #333333;
	font-family: PTSans-Regular;
	font-size: 14px;
	overflow: auto;
	resize: none;
	background-color: #E1E1E1;
	text-align: center;
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
.rsform-checkbox {
	margin-bottom: 8px;	
}
/* для формы в контактах*/
.formField_displai_flex {
	display: flex;
	align-items: center;
}
#rsform_17_page_0 .rsform-input-box, #rsform_23_page_0 .rsform-input-box, #rsform_24_page_0 .rsform-input-box, #rsform_25_page_0 .rsform-input-box, #rsform_26_page_0 .rsform-input-box, #rsform_27_page_0 .rsform-input-box {
	padding-left: 47px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
  font-size: 14px;
  font-family: "Open_Sans_R";
  color: rgb(132, 132, 132);
	border-width: 1px;
	border-color: rgb(232, 232, 232);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
	width: 360px;
	height: 57px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0px;
}
 #rsform_27_page_0 .rsform-input-box {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 25px;
	background-image: none !important;
	margin-bottom: 18px;
}
 #rsform_25_page_0 .rsform-input-box {
	padding-left: 37px;
	
}
.rsform-block-tel .rsform-input-box{
	background-image: url(../images/6.png);
	background-repeat: no-repeat;
	background-position: left 18px center;
}
#rsform_24_page_0 .rsform-block-tel .rsform-input-box{
	
	margin-bottom: 13px;
}

.rsform-block-name_2 .rsform-input-box{
	background-image: url(../images/5.png);
	background-repeat: no-repeat;
	background-position: left 18px center;
}
#rsform_25_page_0 .rsform-input-box{
	background-image: none;
	margin-bottom: 13px;
}
#rsform_17_page_0 .rsform-text-box, #rsform_24_page_0 .rsform-text-box, #rsform_26_page_0 .rsform-text-box, #rsform_27_page_0 .rsform-text-box {
	padding-left: 47px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	font-size: 14px;
	font-family: "Open_Sans_R";
	color: rgb(132, 132, 132);
	border-width: 1px;
	border-color: rgb(232, 232, 232);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
	width: 750px;
	height: 122px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0px;
	overflow: auto;
	resize: none;
	padding-top: 20px;
	background-image: url(../images/8.png);
	background-repeat: no-repeat;
	background-position: left 18px top 24px;
}
#rsform_27_page_0 .rsform-text-box {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 25px;
	background-image: none !important;
	margin-bottom: 18px;
	height: 77px;
}
 #rsform_25_page_0  .formField_displai_flex{
	justify-content: space-between;
}
#rsform_17_page_0 .rsform-submit-button, #rsform_23_page_0 .rsform-submit-button, #rsform_24_page_0 .rsform-submit-button, #rsform_26_page_0 .rsform-submit-button,  #rsform_25_page_0 .rsform-submit-button,  #rsform_27_page_0 .rsform-submit-button {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
  font-size: 14px;
  font-family: "Open_Sans_B";
  color: rgb(255, 255, 255);
	overflow: auto;
	resize: none;
	text-align: center;
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
	margin-left: 13px;
  background-color: rgb(49, 153, 222);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 57px;
}
#rsform_27_page_0 .rsform-submit-button {
	width: 100%;
	margin-left: 0px;
}
#rsform_23_page_0 .rsform-submit-button, #rsform_24_page_0 .rsform-submit-button, #rsform_25_page_0 .rsform-submit-button, #rsform_26_page_0 .rsform-submit-button  {
  width: 360px;
	margin-left: 0px;
}
#rsform_25_page_0 .rsform-submit-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#rsform_23_page_0 .formField_displai_flex, #rsform_24_page_0 .formField_displai_flex, #rsform_26_page_0 .formField_displai_flex   {
  justify-content: space-between;
}
#rsform_25_page_0 .rsform-block-name_2 .rsform-input-box, #rsform_25_page_0 .rsform-block-tel .rsform-input-box  {
	width: 558px;  
}
.formField {
    display: block;
    overflow: visible;
}

.hide {
    display: none !important;
}

::-webkit-input-placeholder { font-size: 14px;
  font-family: "Open_Sans_R";
  color: rgb(132, 132, 132);}
::-moz-placeholder          { font-size: 14px;
  font-family: "Open_Sans_R";
  color: rgb(132, 132, 132);} 
:-moz-placeholder           { font-size: 14px;
  font-family: "Open_Sans_R";
  color: rgb(132, 132, 132);} 
:-ms-input-placeholder      { font-size: 14px;
  font-family: "Open_Sans_R";
  color: rgb(132, 132, 132);}

#rsform_4_page_0 .formField {
	font-family: PTSans-Regular;
	font-size: 14px;
	color: #333;
}
#rsform_4_page_0 .rsform-input-box {
	padding-left: 10px;
	height: 25px;
	width: 250px;
	border: 1px solid #179eeb ;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #333;
	margin-top: 8px;
	margin-bottom: 8px;
}
#rsform_4_page_0 .rsform-text-box {
	height: 100px;
	width: 248px;
	border: 1px solid #179eeb;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	overflow: auto;
	resize: none;
	padding-top: 5px;
	padding-left: 10px;
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #333;
	margin-top: 8px;
	margin-bottom: 8px;
}
#rsform_4_page_0 .rsform-submit-button {
	height: 40px;
	width: 140px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
	font-family: PTSans-Regular;
	font-size: 16px;
	overflow: auto;
	resize: none;
	background-color: #179eeb;
	text-align: center;
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
#rsform_4_page_0 .rsform-block-bistrii_zagolovok {
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #FFF;
	background-color: #179eeb;
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-left: 0px !important;
}
#rsform_4_page_0 .rsform-block, #rsform_error_4 {
	margin-left: 10px;
	margin-right: 10px;
}
/* для всплывающего окна плагина mfp ----------------------------------------------------------------------------------*/
.mfp-white-popup {
	position: relative;
	background: #FFF;
	width: auto;
	width: 326px !important;
	min-width: 300px !important;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 0px !important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	padding-left: 0px!important;
}
@media screen and (max-width:390px){
	.mfp-white-popup {
	width: 290px !important;
	min-width: 290px !important;
}
	}
	.mfp-close {
	position: absolute !important;
	width: 30px !important;
	height: 30px !important;
	right: -15px !important;
	top: -15px !important;
	border: none !important;
	background-image: url(../images/fancybox.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	opacity: 1 !important;
	font-size: 0px !important;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: auto !important;
    cursor: auto;
}
/* для всплывающего окна плагина mfp во фрейме----------------------------------------------------------------------------------*/
  .mfp-iframe-holder .mfp-content{
                            width: 410px !important;
							height: 400px !important; 
							background-color: transparent !important;
                         }
@media screen and (max-width:390px){

  .mfp-iframe-holder .mfp-content{
                            width: 290px !important;
							
                         }
	/*#rsform_18_page_0, #rsform_16_page_0, #rsform_12_page_0, #rsform_22_page_0, #rsform_23_page_0 {
   width: 290px;
}*/
	}
                       .mfp-iframe-scaler iframe {
    background-color: transparent !important;
	overflow:  hidden!important; 
	 box-shadow: 0 0 8px rgba(0, 0, 0, 0.0)!important;
}

	.contentpane  {
	font-family: PTSans-Regular;
	font-size: 14px;
    color: #333;
		background-color: transparent !important;	
}
.zakaz_tovara_vo_freime {
	font-family: PTSans-Regular;
	background-color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #000000;
}
#rsform_18_page_0, #rsform_16_page_0, #rsform_12_page_0, #rsform_22_page_0 {
	background-color: #FFF;
	padding-bottom: 10px;
}
#rsform_18_page_0 a, #rsform_16_page_0 a, #rsform_12_page_0 a, #rsform_22_page_0 a {
	font-family: PTSans-Regular;
    font-size: 14px;
    color: #179eeb;
}
#rsform_18_page_0 p, #rsform_16_page_0, #rsform_12_page_0	p, #rsform_12_page_0 p {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em; 
}

#rsform_18_page_0 .formRed, #rsform_16_page_0 .formRed, #rsform_12_page_0 .formRed, #rsform_12_page_0 .formRed {
   padding-left: 10px;
}
#rsform_18_page_0 .formTableLayout input.rsform-error, .formTableLayout textarea.rsform-error, .formTableLayout select.rsform-error,
#rsform_16_page_0 .formTableLayout input.rsform-error, .formTableLayout textarea.rsform-error, .formTableLayout select.rsform-error, #rsform_12_page_0 .formTableLayout input.rsform-error, .formTableLayout textarea.rsform-error, .formTableLayout select.rsform-error,
#rsform_22_page_0 .formTableLayout input.rsform-error, .formTableLayout textarea.rsform-error, .formTableLayout select.rsform-error{
    border-color: #b94a48;
}
#rsform_18_page_0 .rsform-input-box, #rsform_16_page_0 .rsform-input-box, #rsform_12_page_0 .rsform-input-box, #rsform_22_page_0 .rsform-input-box {
	padding-left: 10px;
	height: 25px;
	width: 100%;
	border: 1px solid #179eeb;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #333;
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#rsform_18_page_0 .rsform-text-box, #rsform_16_page_0 .rsform-text-box, #rsform_12_page_0 .rsform-text-box, #rsform_22_page_0 .rsform-text-box {
	height: 80px;
	width: 100%;
	border: 1px solid #179eeb;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	overflow: auto;
	resize: none;
	padding-top: 5px;
	padding-left: 10px;
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #333;
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#rsform_18_page_0 .rsform-submit-button, #rsform_16_page_0 .rsform-submit-button, #rsform_12_page_0 .rsform-submit-button, #rsform_22_page_0 .rsform-submit-button {
	height: 40px;
	width: 140px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
	font-family: PTSans-Regular;
	font-size: 16px;
	overflow: auto;
	resize: none;
	background-color: #179eeb;
	text-align: center;
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
#rsform_18_page_0 .rsform-block, #rsform_16_page_0 .rsform-block, #rsform_12_page_0 .rsform-block, #rsform_22_page_0 .rsform-block {
	margin-left: 10px;
	margin-right: 10px;
	font-family: PTSans-Regular;
    font-size: 14px;
    color: #333;
}
#rsform_18_page_0 .rsform-block-bistrii_zagolovok, #rsform_16_page_0 .rsform-block-bistrii_zagolovok, #rsform_12_page_0 .rsform-block-bistrii_zagolovok, #rsform_22_page_0 .rsform-block-bistrii_zagolovok {
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #FFF !important;
	background-color: #179eeb;
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-left: 0px !important;
}

#rsform_18_page_0 p, #rsform_16_page_0 html, body, #rsform_12_page_0	html, body, #rsform_22_page_0	html {
		margin:0;
		padding:0;
	}
.rsfp_thankyou_popup_inner {
    background: #ffffff;
    width: 348px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width:400px){
	.rsfp_thankyou_popup_inner {
	background: #ffffff;
	width: 290px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
}
.rsfp_thankou_popup_close_btn {
	position: absolute;
    top: -12px;
    right: -15px;
    font-size: 0px;
    cursor: pointer;
    background-image: url(../images/fancybox.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 29px;
    height: 28px;
}
/* 	для гостевой через rs form -------------------------------------------------------------------------------*/
.rs_stroka {
	height: 100%;
	overflow-y: hidden;
	padding-bottom: 15px;
	border-bottom: 1px solid #686868;
	padding-top: 15px;
	margin-bottom: 20px;
	}
.rs_name {
	font-size: 20px;
	float: left;
	width: 50%;
	}
	.rs_data {
	font-size: 10px;
	float: right;
	width: 50%;
	text-align: right;
	}
.rs_obvodka {
	border: 1px solid #585858;
	border-radius: 15px;
	margin-bottom: 20px;
	padding: 15px;
	}

/*для материала*/
.item-page .page-header  {
  display: none;
}
.img_v_kat  {
  display: none;
}
/*для плагина шерт кода*/
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    margin-top: 20px;
}
.mfp-arrow-right:before, .mfp-arrow-right:after, .mfp-arrow-left:before, .mfp-arrow-left:after {
    display: none;
}
.mfp-arrow.mfp-arrow-left.mfp-prevent-close {
	background-image: url(../images/left.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.mfp-arrow.mfp-arrow-right.mfp-prevent-close {
	background-image: url(../images/right.png);   
	background-repeat: no-repeat;
	background-position: center center;
}
/*для модуля кататалога*/
.mobileaccordeonck .mobileaccordeoncktitle {
    font-size: 20px;
    padding: 0px 0 0 0px;
    display: flex;
    float: none;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 45px;
}
.mobilebuttonmenuck {
   cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    font-family: Segoe UI;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    height: 35px;
    width: 35px;
}
.mobilebuttonmenuck:before {
   content: "≡";
	    font-family: Verdana;
    line-height: 36px;
}

@media screen and (max-width:1200px){
	.mobilebaraccordeonmenuck {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	 background: #90C128;
}
}
.mobilebarmenutitleck {
    padding-left: 0px;
    line-height: 0px;
    color: #FFFFFF;
    font-size: 20px;
	font-family: PTSans-Regular;
}


.mobileaccordeonck {
    background: #90C128;
    color: #fff;
    text-shadow: 1px -1px 2px transparent;
    font-size: 20px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: PTSans-Regular;
    left: 0;
    top: 0;
}
.mobileaccordeonck .topbar {
    border-bottom: 0px solid #175186;
	position: relative;
	height: 45px;
	background-image: none;
}
.mobileaccordeonck div.current > a:after {
   display: none;
}
.mobileaccordeoncktogglericon {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    margin-right: 50px;
    width: 35px;
}
.mobileaccordeoncktogglericon:before {
	content: "+";
	font-family: Verdana;
	color: #FFFFFF;
	font-size: 26px;
	position: absolute;
}
.open .mobileaccordeoncktogglericon:before {
    font-size: 26px;
	content: "-";
}
.open .mobileaccordeoncktogglericon {
    background-image: none;
	content: "-";
}
.mobileaccordeonck div.level2.accordeonck > a {
    background: none;
    padding-left: 55px;
}
.mobileaccordeonck .mobileaccordeonckclose {
   cursor: pointer;
    box-sizing: border-box;
	position: absolute;
    top: 0;
    right: 0;
    line-height: 0.8em;
    font-family: Segoe UI;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    font-size: 20px;
    line-height: 30px;
    height: 35px;
    width: 35px;
}
.mobileaccordeonck .mobileaccordeonckclose:before {
  content: "×";
	    font-family: Verdana;
    line-height: 36px;
}
.mobileaccordeonck div.level1.accordeonck > a {
	background: rgba(255,255,255,0.1);
	background-color: rgba(255,255,255,0.1);
	font-family: PTSans-Regular;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.mobileaccordeonck div.accordeonck {
    cursor: pointer;
    background: none;
    min-height: 35px;
    line-height: 35px;
    padding: 0;
    padding-bottom: 5px;
    position: relative;
	
}
/*end для модуля кататалога*/
/*для модуля меню*/
.mobilemaximenuck div.level1.maximenuck > a {
	text-decoration: none;
	
		font-family: PTSans-Regular;
}
	.mobilebarmaximenuck .mobilebuttonmaximenuck {
   font-family: Verdana;
    line-height: 36px;
}
	.mobilemaximenuck .mobilemaximenuckclose {
		font-family: Verdana;
    line-height: 36px;
}
	.mobilemaximenuck .mobilemaximenucktitle {
		font-family: PTSans-Regular;
    text-indent: 0px;
}
	.mobilebarmaximenuck .mobilebarmenutitleck {
    text-indent: 0px;
		font-family: PTSans-Regular;
}
.mobilemaximenuck div.level2.maximenuck > a {
	text-decoration: none;
}
.map_view .xdsoft_map_box, .map_view .xdsoft_object_list_box {
    padding: 0px !important;
}
/*end для модуля меню*/
/*для всплывающего сообщения товар добавлен в корзину*/
.succes_custom{
        position: fixed;
        display: none;
        opacity: 0;
        right:20px;
        background: green;
        color: #ffffff;
        transition:0.5s ease all;
        padding: 10px 20px;
        z-index: 10000;
    }
.succes_custom.remove_compare{
      background: red !important;
  }
/*для поиска*/
input#mod_search_searchword.poisk {
	height: 20px;
	width: 120px;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	border: 1px solid #999999;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: transparent;
	padding-left: 10px;
	font-family: Verdana;
	vertical-align: middle;
	margin: 0px;
}
.button_poisk {
	
}
input#mod_virtuemart_search.inputbox_poisk {
	height: 20px;
	width: 120px;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	border: 1px solid #999999;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: transparent;
	padding-left: 10px;
	font-family: Verdana;
	vertical-align: middle;
	margin: 0px;
}
input.button_poisk {
	background-image: url(../images/searchButton.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	height: 29px;
	width: 49px;
	cursor: pointer;
	vertical-align: middle;
}
/*общие --------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
	margin-top: 0px;
margin-bottom: 0px;
}
/*яндекс карта --------------------------------------------------------------------*/
.map_description {
    margin-bottom: 0px !important;
}
/*.xdsoft_yandex_maps.xdsoft_map5.map.xdsoft_with_object_list0, .xdsoft_map.xdsoft_show_gif_loader, .map_view.xdsoft_row, .xdsoft_col12.xdsoft_map_box, .xdsoft_map.xdsoft_show_gif_loader, .ymaps-2-1-74-inner-panes, .ymaps-2-1-74-map.ymaps-2-1-74-i-ua_js_yes.ymaps-2-1-74-map-bg.ymaps-2-1-74-islets_map-lang-ru   {
  border-radius: 10px !important;

  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.35);

}*/

/*модуль поиска с подсказками--------------------------------------------------------------------*/
.plugin-title.first  {
	display: none;
}
.result-element.result-products img {
	width: 50px;
	height: auto;
	margin-right: 20px;
}
.result-element.result-products {
	  display: flex !important;
	align-items: center;
}
#search-results-inner238 .result-element {
    height: auto !important;
}
.result-element.result-products a, .result-element.result-products a span, .result-element.result-products {
	text-decoration: none !important;    
}
#search-results-inner238.withoutseemore {
    padding-bottom: 0px;
}

/*модуль сравнения --------------------------------------------------------------------*/
span.btn-compare.fa.fa-random:before {
	content: "Сравнить";
	color: #000000;
	font-size: 19px;
	display: block !important;
	font-family: arial;
}
span.btn-compare.in-comparison.fa.fa-random:before {
	content: "Добавлено в сравнение";
	color: #000000;
	font-size: 19px;
	display: block !important;
}
span.btn-compare {
	cursor: pointer;
	color: #3D7AAC!important;
	font-size: 13px!important;
	text-decoration: none;
	position: relative !important;
	top: 0px;
	right: 0px;
	border: 1px solid #ddd;
	border-radius: 30px;
	background: #fff;
	height: 30px !important;
	width: 30px !important;
	line-height: 30px;
	text-align: center;
	display: block;
}
.nb_compare .nb_sort_compare span {
    background: url(/modules/mod_vm_nb_compare/assets/images/bg_left.png);
}
.nb_compare {
	padding: 0px !important;
	border-bottom: 0px solid #999 !important;
	border-top: 0px solid #999 !important;
}

.nb_list .nb_no-item {
	text-align: center;
	border-bottom: 1px dashed #777;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.nb_compare_clear_all {
	display: none !important;   
}
.fa-random:before {
   display: none !important; 
}
.nb_action .nb_start_compare i, .nb_action .nb_compare_clear_all i {
    margin-right: 0px !important;
}

.nb_action .nb_start_compare, .nb_action .nb_compare_clear_all { /*кнопка сравнить */
    display: inline-block;
    padding: 5px 15px;
    border: 0px solid #dadada;
    background: #3d7aac;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-right: 0px !important;
}
.nb_action .nb_start_compare:hover, .nb_action .nb_compare_clear_all:hover { /*кнопка сравнить при наведении */
    background: #777;
}
.addtocart-plg-button { /*кнопка купить во всплывающем окне */
	border: 0px solid #095197;
	width: 85px!important;
	float: left;
	margin-left: 0px;
	height: 27px!important;
	line-height: 19px;
	border-radius: 0px !important;
	font-size: 14px;
	font-family: PTSans-Regular;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #179eeb;
	background-image: none;
	padding: 0px !important;
}
.addtocart-button-plg i {
    display: none !important;
}
div.remove_compare_popup { /*кнопка удалить во всплывающем окне */
	float: none;
	border: 0px solid #e13b47;
	border-radius: 0px !important;
	width: 85px;
	height: 27px;
	line-height: 27px !important;
	color: #FFFFFF;
	font-size: 14px;
	font-family: PTSans-Regular;
	cursor: pointer;
	padding-left: 0px !important;
	text-align: center;
	background-color: #179eeb;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.plus.item_span {
	    margin-top: -15px;
    margin-right: 5px;
	width: 15px;
	height: 15px;
	background-color: #333047;
	cursor: pointer;
	color: #FFFFFF;
}
.item_span.minus {
	
	width: 15px;
	height: 15px;
	background-color: #333047;
	cursor: pointer;
	color: #FFFFFF;
	left: 0px;
    top: 20px;
    position: absolute;
}
.nb_list {
	display: none;	
}
div.remove_compare_popup i {
    margin-right: 0px !important;
    font-size: 0px !important;
    margin-top: 0px !important;
}

.fa-trash-o:before {
     display: none !important;
}
.action_compare .addtocart-bar-plg {
	margin-top: 0px !important;
}
.addtocart-bar-plg .quantity-box {
	
	padding-right: 10px;	
}
.product_compare_item .over_data .cust_field {
     margin-top: 0px !important;
}
#colorbox {
	outline: 0;
	border: 0px solid #179eeb;
	position: fixed!important;
	top: 50px!important;
	height: auto!important;	
}
#cboxContent {
	height: 580 !important;
	border: 5px solid #179eeb;
}
#cboxLoadedContent {
	height: auto !important;
}
#cboxClose {
	position: absolute;
	top: -14px;
	right: -14px;
	width: 29px;
	height: 28px;
	text-indent: -9999px;
	box-shadow: none!important;
	z-index: 9999;
	outline: 0!important;
	background-image: url(../images/fancybox.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.price_compare .vm-price-value {
    padding-top: 0px !important;
}
td.price_compare {
    color: #333333 !important;
}
tr.tr_compare_images img {
    padding: 5px;
    border: 1px solid #e5e5e3;
    background: #fff;
    width: 100px;
    height: auto !important;
}
td.name_compare a {
    color: #095197;
    font-size: 14px;
}
td.name_compare a:hover {
	color: #095197;
	font-size: 14px;
	text-decoration: none;
}
.product_compare_item form.product {
   float: none !important; 
    width: auto !important;
}
.quantity-box_1 {
       display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.product_compare_item .remove_compare_popup {
     float: none !important;
}
.quantity-box_1 .quantity-box {
     display: flex;
    align-items: center;
	position: relative;
}
/* для кнопки на верх----------------------------------------------------------------------------------*/

#gototop{
	border: 0px solid #ffffff;
	background-color: transparent;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url(../images/top.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 69px;
	width: 70px;
} #gototop:hover{
	background-color: transparent;
	background-image: url(../images/top.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/* для Slogin----------------------------------------------------------------------------------*/
.login-greeting, .logout-button, .slogin-avatar {
	display: none;	
}
.btnslogin {
	cursor: pointer;    
}
.ul-jlslogin a:link {
	text-decoration: none;	   
}
/* для гостевой книги----------------------------------------------------------------------------------*/
input#jform_guestbook_username.input-xlarge.required, input#jform_guestbook_email.validate-email.input-xlarge, input#jform_guestbook_captcha.input-sm.required {
	border: 1px solid #999;
	width: 150px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

textarea#jform_guestbook_content.inputbox.input-xxlarge.required {
	border: 1px solid #999;
	width: 300px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.control-label {
	padding-top: 10px;	
}

.pgtitle {
	font-weight: bold;
}
div.well.well-small.pgwell.pgb_background.pgb_font {
	border: 1px solid #ddd;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
	margin-top: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-left: 5px;
}
.pgb-comment:after {
	content: "Ответ" !important;
}
/*скрыть в уведомлениях (<jdoc:include type="message" />) крестик ----------------------------------------------------------------------------------*/
div.alert.alert-message a.close, a.close, div.alert.alert-notice a.close, h4.alert-heading, div.alert.alert-error button.close {
	display: none;	
	}
.alert.alert-notice {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	}
	
/*для заказа в один клик ----------------------------------------------------------------------------------*/
#contactForm_oneclick.positioned {
	border: 5px solid #179eeb !important;
	}
	
	#popupContactClose, #ContactClose_OneClick, #closelogin {
	font-size: 0px !important;
	background-image: url(../images/fancybox.png);
	background-repeat: no-repeat;
	background-position: center center;
	right: -14px !important;
	top: -14px !important;
	height: 28px !important;
	width: 29px !important;
	}
#contactForm_oneclick h2 {
	text-align: center;
	font-family: PTSans-Regular !important;
	font-size: 16px;
	color: #FFF !important;
	background-color: #179eeb;
	display: block;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
	padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
}
#contactForm_oneclick label {
	clear: left;
	color: #333333;
	display: inline-block;
	float: left;
	font-size: 16px !important;
	margin: 0.15em 0.5em 0 0;
	padding: 0.4em 0 0;
	text-align: left;
	width: 100px;
	font-family: PTSans-Regular !important;
}
#contactForm_oneclick input, #contactForm_oneclick textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0px #D2D2D2 !important;
    display: inline-block;
    margin: 0;
    padding: 0.4em;
    width: 200px;
	padding-left: 10px;
    height: 25px;
    border: 1px solid #179eeb !important;
    font-family: PTSans-Regular !important;
    font-size: 16px !important;
    color: #333 !important;
}
#contactForm_oneclick {
    height: 380px !important;
    width: 350px;
	
}
#contactForm_oneclick textarea {
    height: 25px !important;
}
#contactForm_oneclick input[type="submit"] {
	display: inline-block;
	border: none !important;
	font-family: PTSans-Regular !important;
	font-size: 16px !important;
	text-transform: none;
	border-radius: 0px!important;
	color: #FFF !important;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0;
	cursor: pointer;
	border: none;
	background-color: #179eeb !important;
	float: left !important;
	height: 40px !important;
	width: 140px !important;
	margin-left: 13px !important;
	margin-top: 10px !important;
}
#cancel_OneClick {
	display: none !important;   
}
.statusMessage p {
	font-family: PTSans-Regular;
	font-size: 16px;   
}
/*модальное окно  ----------------------------------------------------------------------------------*/
#sbox-overlay {
	position: absolute;
	background:none repeat scroll 0% 0% black;
	left: 0px;
	top: 0px;
	display:block;
	cursor:pointer;
	opacity:0.8;
	height: 300px;
	width: 100%;
}
.body-overlayed {
	overflow: visible;
}
#sbox-window {
	position: absolute;
	background-color: #fff;
	text-align: left;
	overflow: visible;
	padding: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border: 5px solid #179eeb !important;
	font-family: Arial;
	font-size: 14px;
}
/*пагинация  --------------------------------------------------------------*/
div.pagination {
	padding: 0;
	display: block;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;
}

div.pagination ul {
	display: block;
}

div.pagination li {
	/*border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;*/
	list-style: none;
	display: inline-block;
	padding: 0 2px;
}

div.pagination li.pagination-prev {
	border-left: none;
}

div.pagination li.pagination-next {
	border-right: none;
}

div.pagination p.counter,
div.pagination li.pagination-start,
div.pagination li.pagination-end {
	display: none;
}
div.pagination li.pagination-prev span,
div.pagination li.pagination-next span {

}
div.pagination a,
div.pagination span {
	display: inline-block;
	margin: 0 2px;
	padding: 1px 3px;
}
div.pagination a {
	text-decoration: none;
}

div.pagination span {

}
/*общие  --------------------------------------------------------------*/
:focus {
outline: none;
}
p {
	margin: 0px;
	-webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/*joomgalery галерея фотографий  --------------------------------------------------------------*/

img.pngfile.jg_icon.jg-icon-arrow {
	
	display: none;
}


.jg_catdescr {
	text-align: left;
}

/*для компонента комментарием  ----------------------------------------------------------------------------------*/
#comments-form-send a {
	width: 100px;
	text-decoration: none;
	    border: 1px solid #ccc !important;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	text-align: center;
	border-radius: 4px;
}
#jc h4  {
	font-weight: 400;
}

#comments-form input, #comments-report-form input, #comments-form textarea {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 30px !important;
	width: 340px !important;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	font-size: 14px !important;
	font-family: Arial !important;	
	
}
#comments-form textarea {
	width: 340px !important;
	height: 100px !important;
	padding-top: 10px !important;	
}
#comments-form input.selected,  #comments-form textarea.selected {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	background-color: #ffffff !important;
}
#comments-form input.checkbox {
    width: 16px !important;
	height: 14px !important;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: none;
}
#comments-form input.captcha {
	width: 140px !important;
}

#comments-form input::-webkit-input-placeholder {font-family: Arial;
	font-size: 13px !important;
	color: #999999;}

#comments-form .btn div, #comments-report-form .btn div {
   
}

#comments-form span {
    color: #777;
    font-family: PTSans-Regular !important;
	font-size: 14px !important;	
	font-weight: normal !important;
}
div.grippie {
	display: none !important;
}
	/*для поиска  ----------------------------------------------------------------------------------*/
	#search-searchword {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	background-color: #FFFFFF;
	height: 30px !important;
	}
	form#searchForm button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	background-image: -o-linear-gradient(top, #f3f3f3, #e1e0e0);
background-image: -webkit-linear-gradient(top, #f3f3f3, #e1e0e0);
background-image: linear-gradient(top, #f3f3f3, #e1e0e0);
	height: 34px !important;
	cursor: pointer;
		}
		/*для востановаления пароля и логина  ----------------------------------------------------------------------------------*/
	
div.controls input {
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	background-color: #FFFFFF;
	height: 30px !important;
    color: #000;
}
div.control-label .invalid {
	border: 0px solid #ccc !important;
	color: #F00;
	background-color:transparent !important;
}
div.controls button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	background-image: -o-linear-gradient(top, #f3f3f3, #e1e0e0);
background-image: -webkit-linear-gradient(top, #f3f3f3, #e1e0e0);
background-image: linear-gradient(top, #f3f3f3, #e1e0e0);
	height: 34px !important;
	cursor: pointer;
	margin-left: 10px;

		}
div.controls .invalid {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-left: 10px !important;
	border: 1px solid #ccc !important;
	background-color: #FFFFFF;
	height: 30px !important;
	color: #000;
	border-color: red !important;
}
/*личный кабинет пользователя  ----------------------------------------------------------------------------------*/

.adminlist {
	width: 100%;	
}
.adminlist th {
	text-align: left;		
}
.spaceStyle .floatright {
	display: none;	
}
.dostavit_v {
	display: none;	
}

/*сортировка в категории vmsorting   ----------------------------------------------------------------------------------*/
.vmsorting.block .title{
	display: none;	
}
.vmsorting.block {
    margin-bottom: 0px !important;
}
.vmsorting.select .title{
	display: none;	
}
.vmsorting.select {
    margin-bottom: 0px !important;
}
.vmsorting .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 168px;
	padding: 0px 0;
	margin: 0px 0 0;
	list-style: none;
	font-size: 16px !important;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.vmsorting .dropdown-menu > li > a {
	text-decoration: none; 
	font-size: 14px !important;
}
.btn.btn-default.dropdown-toggle  {
	width: 170px;
}
.vmsorting .caret {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 0px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	background-image: url(../images/arrow2.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: 5px;
}
/*в козине условия обслуживания   ----------------------------------------------------------------------------------*/
#agreed_div {
	padding-top: 15px;	
}
.agreed_input_wrapper {
	float: left;
	width: 30px;
}
/*плагин бокс плюс   ----------------------------------------------------------------------------------*/
.boxplusx-navigation {
    display: none;
}
.boxplusx-expander {
    top: 5px;
    left: 4px;
   border-radius: 5px;
}
.boxplusx-bottom, .boxplusx-top {
    left: inherit;
}
.boxplusx-caption {
    display: none;
}

.camera_commands {
    display: none;
}
/*плагин быстрого просмотра товаров   ----------------------------------------------------------------------------------*/

.iziModal .iziModal-button-close {
	background-image: url(../images/fancybox.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.iziModal .iziModal-button-fullscreen {
    background-image: url(../images/fancybox1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.iziModal.isFullscreen .iziModal-button-fullscreen {
    background-image: url(../images/fancybox1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.iziModal .iziModal-button-close:hover {
    transform: rotate(0deg);
}
.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-button {
    height: 29px;
    width: 28px;
}
.iziModal .iziModal-button {
    display: block;
    float: right;
    z-index: 2;
    outline: 0;
    height: 34px;
    width: 34px;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
    border-radius: 50%;
    background-size: 100%!important;
    -webkit-tap-highlight-color: transparent;
}
.iziModal .iziModal-button:hover {
    opacity: 1;
}
.iziModal .iziModal-header {
    background: #88a0b9;
    padding: 14px 18px 15px;
    box-shadow: inset 0 -10px 15px -12px rgba(0,0,0,.0), 0 0 0 #555;
    overflow: initial;
    position: relative;
    z-index: 10;
}
.iziModal .iziModal-header.iziModal-noSubtitle {
    height: auto;
    padding: 0px 0px 0px;
}
.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-buttons {
	right: 6px;
	margin-top: -26px;
	margin-right: -20px;
	margin-left: 0;
	margin-bottom: 0;
}
.iziModal {
    overflow: initial !important;
}
/*компонент входа и регистрации через соц сети   ----------------------------------*/
.login-description  {
	padding-top: 20px;
	padding-bottom: 20px;
}
.slogin-clear  {
	padding-top: 20px;
	padding-bottom: 20px;
}
/*скрыть дубли сылок в навигаторе   ----------------------------------*/
 .displai_none .breadcrumbs a:nth-child(3), .displai_none .breadcrumbs img:nth-child(2)  {
	display: none;
}
/*фильтр  ----------------------------------*/
.slider-double-handle input {
	text-align: center;
	border: 1px solid #D295ED;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
    background-color: #d295ed;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 6px;
}

.ui-slider-horizontal {
	height: 5px;
	border: 0px solid #999;
	border-radius: 5px;
	margin: 5px 0;
	background-color: #DDDDDD;
}
.slider_active {
    height: 5px;
    background: #d295ed;
    position: absolute;
    z-index: 1;
    min-width: 2%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 3;
    font-size: 7px;
    display: block;
    border: 0;
    background-position: 0 0;
  background-color: #d295ed;
	
}
.slider_active.count-0 {
    min-width: 0%;
	border-radius: 5px;
	background-color: #DDDDDD;
}
.paramfilter a.reset {
	text-decoration: none;
	font-size: 20px;
	float: right;
	color: #d295ed;
	font-weight: normal !important;
}
#paramfilter-186 .heading {
	font-size: 24px;
	font-family: "BebasNeue_R";
	color: rgb(62, 180, 137);
	padding-bottom: 30px;
}
.paramfilter li {
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	font-size: 0px;
	height: 48px;
}
.custom_params  {
	margin-top:  34px;
	margin-bottom:   30px;
		
}
.paramfilter .over_select select {
    width: 290px;
    background: transparent;
    height: 44px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  
    padding-left: 16px;
    font-size: 12px;
    font-family: "Arial";
    text-transform: uppercase;
}

.paramfilter .values input[type=checkbox] {
	display: none;
}

.paramfilter .values label {
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 27px;
	font-size: 16px;
	font-family: "Arial";
	color: rgb(117, 116, 116);
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #CDCDCD;
	width: 264px;
}
.paramfilter .values span:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	background-color: transparent;
	border: 2px solid #16a67f;
	border-radius: 50%;
}
.paramfilter .values input[type=checkbox]:checked + span {
	color: #16A67F;	
} 
.paramfilter .values input[type=checkbox]:checked + span:before {
	content: "";
	width: 14px;
	height: 14px;
	border: 2px solid #16a67f !important;
	background-color: #16a67f;
} 
.paramfilter .mcf_button {
	border-radius: 30px;
	font-size: 18px;
	font-family: "BebasNeue_R";
	color: rgb(255, 255, 255);
	text-align: center;
	background-color: #3EB489;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
	border-width: 0px;
	cursor: pointer;
} 
.paramfilter a.fullreset {
	border-radius: 30px;
	font-size: 18px;
	font-family: "BebasNeue_R";
	color: rgb(255, 255, 255);
	text-align: center;
	background-color: #3EB489;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
	border-width: 0px;
	cursor: pointer;
	text-decoration: none;
} 
/* фильтр с выпадающими списками
.custom_params {
	position: relative;
} 
.values .chzn-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
    *display: inline;
	max-width: 100%;
	margin-bottom: 0px;
	font-size: 14px;
	font-family: "Roboto_M";
	
} 
.chzn-container-active .chzn-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0) !important;
}
.chzn-container-multi .chzn-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	min-height: 44px !important;
	height: 1%;
	border: 1px solid #e9e9e9;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, rgba(238,238,238,0.00)), color-stop(15%, rgba(238,238,238,0.00)));
	background-image: -webkit-linear-gradient(90deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/28.png);
	background-image: -moz-linear-gradient(90deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/28.png);
	background-image: -o-linear-gradient(90deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/28.png);
	background-image: linear-gradient(0deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/28.png);
	cursor: text;
	border-radius: 5px;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: right 10px center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 5px;
}
.chzn-container-multi .chzn-choices:hover {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	min-height: 44px !important;
	height: 1%;
	border: 1px solid transparent;
	background-color: #92da18;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, rgba(238,238,238,0.00)), color-stop(15%, rgba(238,238,238,0.00)));
	background-image: -webkit-linear-gradient(90deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/29.png);
	background-image: -moz-linear-gradient(90deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/29.png);
	background-image: -o-linear-gradient(90deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/29.png);
	background-image: linear-gradient(0deg,rgba(238,238,238,0.00) 1%,rgba(255,255,255,0.00) 15%), url(../images/29.png);
	cursor: text;
	border-radius: 5px;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: right 10px center ;
	cursor: pointer;
}
.chzn-container-multi .chzn-choices:hover li.search-field .default {

  color: rgba(255,255,255,1.00);
}
.chzn-choices .search-field  {
	position: absolute;
    left: 10px;
  font-size: 14px;
  font-family: "Roboto_M";
  color: rgb(44, 52, 55);
	width: 70% !important;
	height: 100%;
	    display: flex;
    align-items: center;
}
.values.cv-139 .chzn-choices .search-field  {
	width: 80% !important;
}
.chzn-container-multi .chzn-choices li.search-field .default {
	font-size: 14px;
	font-family: "Roboto_M";
	color: rgb(44, 52, 55);
	cursor: pointer;
	width: 100% !important;
	height: 100%;
}
.chzn-container-active .chzn-choices li.search-field input, .chzn-container-multi .chzn-choices li.search-field input {
	width: 100% !important;
	height: 100% !important;
	display: block;
	font-size: 0;
	cursor: default;
	  color: transparent;
}
.chzn-container-active .chzn-choices li.search-field input {
  color: transparent !important;
}
.chzn-container .chzn-drop {
	position: absolute;
	top: 100% !important;
	left: -9999px;
	z-index: 1010;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100% !important;
	min-width: 60px;
	border: 1px solid #e9e9e9;
	border-top: 0;
	background-color: #F5F5F5;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chzn-container .chzn-results li {
    display: none;

    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
}
.chzn-container .chzn-results li.highlighted {
	background-color: #92DA18 !important;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(56,117,215,0.00)), color-stop(90%, rgba(56,117,215,0.00)));
	background-image: -webkit-linear-gradient(90deg,rgba(56,117,215,0.00) 20%,rgba(42,98,188,0.00) 90%);
	background-image: -moz-linear-gradient(90deg,rgba(56,117,215,0.00) 20%,rgba(42,98,188,0.00) 90%);
	background-image: -o-linear-gradient(90deg,rgba(56,117,215,0.00) 20%,rgba(42,98,188,0.00) 90%);
	background-image: linear-gradient(0deg,rgba(56,117,215,0.00) 20%,rgba(42,98,188,0.00) 90%);
	color: #fff;
}
*/
/*всплывающее окно входа регистарции  ----------------------------------*/
#registerCaptcha iframe  {
       border-right: 1px solid #d3d3d3;
	border-radius: 2px;
}
.ial-inf, .ial-err, .loginBtn span, .loginBtn {
    display: inline-block;
    font-family: 'PTSans-Regular'  !important;
    font-size: 14px !important;
    color: #ffffff !important;
    font-weight: normal;
    line-height: normal;
	cursor: pointer;
}
select.loginTxt, textarea.loginTxt, input[type=password].loginTxt, input[type=text].loginTxt {
	display: block;
	width: 100%;
    *width: auto;
	height: 30px;
	margin: 0 0 14px;
	padding: 1px;
	padding-left: 15px;
	background: #fff;
	border: none;
	border: 1px #c4c4c4 solid;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	color: #000000;	
}
.loginWndInside {
	position: relative;
	display: inline-block;
	    padding: 15px 10px 8px;
	border: 0px #9D9D9D solid;
	background-color: #fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0px 0px -1px rgba(0,0,0,0.0);
	-webkit-box-shadow: 0px 0px -1px rgba(0,0,0,0.0);
}
.ial-select:before, .loginBtn, .loginBtn:hover:active, .selectBtn:hover .leftBtn {
	background-color: #933233 !important;
	background-image: none !important;
	height: 30px;
}
.loginBtn.ial-submit:hover, .loginWndInside .selectBtn:hover  {
	background-color: #1B1A1A !important;
	background-image: none !important;
}
.loginBtn {
    border: 0px solid #000000;
}
.loginBtn, .selectBtn:active .rightBtn {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.0), inset 1px 1px 0px rgba(255,255,255,0.0);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.0), inset 1px 1px 0px rgba(255,255,255,0.0);
}
.loginWndInside ::-webkit-input-placeholder {color:#000000;}
.loginWndInside ::-moz-placeholder          {color:#000000;} 
.loginWndInside :-moz-placeholder           {color:#000000;} 
.loginWndInside :-ms-input-placeholder      {color:#000000;}
.ial-select:active:before, .loginBtn:active:hover, .selectBtn.ial-active .leftBtn, .selectBtn:active .leftBtn {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.0);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.0);
}
.ial-window, .ial-usermenu {
    top: -10000px;
    margin-top: 15px;
    position: absolute;
    z-index: 99999;
    padding: 0px;
    border: 0px #909090 solid;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.0);
}.ial-close, .ial-close:hover, .ial-close:active, .ial-close:hover:active {
	position: absolute;
	z-index: 1;
	right: -10px;
	top: -10px;
	line-height: 0;
	margin: 0;
	padding: 3px 5px;
	border: 0px solid #000000;
	border-radius: 0 0px;
	-webkit-border-radius: 0 0px 0 0px;
	box-shadow: inset 1px -1px 3px rgba(0,0,0,0.0), 0 1px 2px rgba(0, 0, 0, 0.0) !important;
	-webkit-box-shadow: inset 1px -1px 3px rgba(0,0,0,0.0), 0 1px 2px rgba(0, 0, 0, 0.0) !important;
	width: 29px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(../images/fancybox.png) !important;	
	background-color: transparent !important;
}
.ial-close img {
	display: none;
}
.ial-close.loginBtn, .ial-close:hover, .ial-close:active  {
    background-color: transparent !important;
    background-image: -moz-linear-gradient(top, transparent, transparent);
    background-image: -o-linear-gradient(top, transparent, transparent);
    background-image: -ms-linear-gradient(top, transparent, transparent);
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparent, endColorstr=transparent);
}
.ial-trans-gpu {
    -webkit-transition: 300ms ease-out; 
    -moz-transition: 0ms ease-out;
    -ms-transition: 0ms ease-out;
    -o-transition: 0ms ease-out;
    transition: 0ms ease-out;
	}
   .gi-elem select.loginTxt, .gi-elem input.loginTxt {
    background-image: none, none, none;
    background-image: none;
}
.strongFields .strongField, .strongFields .strongField.empty, select.loginTxt, textarea.loginTxt, input[type=password].loginTxt, input[type=text].loginTxt {
    -webkit-transition: background-color 0.0s ease-out;
    -moz-transition: background-color 0.0s ease-out;
    -ms-transition: background-color 0.0s ease-out;
    -o-transition: background-color 0.0s ease-out;
    transition: background-color 0.0s ease-out;
}
	select.loginTxt, textarea.loginTxt, input[type=password].loginTxt, input[type=text].loginTxt, textarea.loginTxt:focus, input[type=password].loginTxt:focus, input[type=text].loginTxt:focus {
    box-shadow: 1px 1px 0 rgba(255,255,255,0.0), inset 1px 1px 3px rgba(0,0,0,0.0);
    -webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.0), inset 1px 1px 3px rgba(0,0,0,0.0);
}
.loginBtn, .socialIco, .socialImg {
    -webkit-transition: all .0s ease-out; 
    -moz-transition: all .0s ease-out;
    -ms-transition: all .0s ease-out;
    -o-transition: all .0s ease-out;
     transition: all .0s ease-out; 
}
.userBtn.selectBtn {
	text-decoration: none !important;  
	display: flex;
    align-content: center;
}
.userBtn.selectBtn  .loginBtn.leftBtn, .userBtn.selectBtn .loginBtn.rightBtn {
	display: flex;
    align-items: center;   
}
.ial-usermenu .loginWndInside, .ial-usermenu {
	    min-width: 150px !important;  
	width: 150px;
	margin-top: 0px;
}
.ial-arrow-up, .strongFields, .smallTxt.passStrongness  {
	  display: none;
}
.loginTxt.regTxt {
	margin-bottom: 14px !important;	  
}
.skrit {
	display: none;	  
}
.ial-window form  {
	width: 300px !important;	  
}
.gi-elem  {
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ial-window .ialResetForm, .ial-window .ialRemindForm  {
	width: 245px !important;	  
}
.ialResetForm .gi-elem,  .ialRemindForm .gi-elem {
	width: 225px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ial-password2 {
	    margin: 0px 0px !important;
	    padding: 0px 10px;
}
/*карусель Unite Gallery   ----------------------------------*/
.ug-tile-navigation-wrapper {
    transition: all !important;
    -o-transition: all !important;
    -webkit-transition: all;
    -moz-transition: all !important;
    -ms-transition: all !important;
    max-width: none;
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    position: relative !important;
	top: calc(50% - 36px) !important;
}
.ug-button-tile-left {
    margin-left: -20px;
}
.ug-button-tile-right {
    margin-right: -20px;
}
.ug-button-tile-navigation {
	width: 36px;
	height: 36px;
	background-position: center center;
	cursor: pointer;
	float: left;
	border-radius: 50%;
	border: 0px solid #CFCFCF;
	background-color: #7A7A7A;
	background-repeat: no-repeat;
}
.ug-button-tile-navigation.ug-button-tile-right {
	background-image: url(../images/right.png) !important;
	background-size: 10px auto;
}
.ug-button-tile-navigation.ug-button-tile-left {
    background-image: url(../images/left.png) !important;
	background-size: 10px auto;
}
.ug-button-tile-navigation:hover {
    background-position: center center;
}
.ug-lightbox-compact .ug-lightbox-button-close {
	width: 29px;
	height: 28px;
	background-image: url(../images/fancybox.png);
}
.ug-lightbox-compact .ug-lightbox-button-close.ug-button-hover {
	width: 29px;
	height: 28px;
	background-image: url(../images/fancybox.png) !important;
	background-position: center center;
}
/*end карусель Unite Gallery   ----------------------------------*/
/*кнопка наверх   ----------------------------------*/
.jakor {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-image: url(../images/top.png);
	width: 56px;
	height: 53px;
	
	display:none;
	z-index: 100;
}
.jakor:hover {
	opacity: 0.8;
}

/*end кнопка наверх   ----------------------------------*/
.rsform-block-name {
	display:none;
}


